Django==1.10.3
gunicorn==18.0
wsgiref==0.1.2
psycopg2==2.5.1
django_su==0.4.7
requests
dj-static
dj-database-url
boto
sendgrid
djangorestframework==3.4.7
markdown
django-filter
django-storages
pytz
django-cors-headers
plotly==1.12.9
bs4
lxml
html5lib
