<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title> {% block title %} {% endblock %} </title>
{% block friskby_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/friskby.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/tables-min.css">
{% endblock %}

<style type="text/css">
{% block css %}
{% endblock %}
</style>

{% block friskby_js %}
{% endblock %}

{% block js %}
{% endblock %}

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
