<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above three meta tags must come first - and all other meta tags and other sub head tags must come after -->
        
        <meta name="description" content="Friskby Bergen - measuring and analysing the air quality in Bergen, Norway.">
        <meta name="author" content="Øystein Taskjelle">

        <title>Friskby Bergen</title>

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://openlayers.org/en/master/css/ol.css" type="text/css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="{{ STATIC_URL }}css/friskby.css" rel="stylesheet">
        <link rel="stylesheet" href="https:////code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/datatables.min.css"/>
        
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57"   	   href="{{ STATIC_URL }}img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60"   	   href="{{ STATIC_URL }}img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72"   	   href="{{ STATIC_URL }}img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76"   	   href="{{ STATIC_URL }}img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" 	   href="{{ STATIC_URL }}img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" 	   href="{{ STATIC_URL }}img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" 	   href="{{ STATIC_URL }}img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" 	   href="{{ STATIC_URL }}img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" 	   href="{{ STATIC_URL }}img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"    href="{{ STATIC_URL }}img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96"    href="{{ STATIC_URL }}img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16"    href="{{ STATIC_URL }}img/favicon-16x16.png">
        <link rel="manifest" href="{{ STATIC_URL }}js/include/manifest.json">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ STATIC_URL }}img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicon -->
        
        <!-- Script - Leaflet shall be in the HEAD -->
        <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.js"></script>
    </head>
    
    <body>
        
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Friskby Bergen</a>
                </div>
                <!--
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li> 
                    <li><a href="#">Page 3</a></li> 
                </ul>
                -->
            </div>
        </nav> 
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12" id="map"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="panel panel-default">
                              <div class="panel-body" id="timeBox">
                                  7th 17:10
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-9 text-center">
                            
                            <div class="well">
                                <div id="friskTimeslider" class="friskTimeslider"></div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-4">
                    
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="btn-group" role="group" aria-label="Layer type toolbar">
                                <a class='btn btn-default btn-sm' href="#" id='pm25Button'>
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> PM 2.5</a>

                                <a class='btn btn-default btn-sm active' href="#" id='pm10Button'>
                                    <i class="fa fa-asterisk fa-lg" aria-hidden="true"></i> PM 10</a>
                            </div>
                            <div class="btn-group" role="group" aria-label="Play pause toolbar">
                                <a class="btn btn-default btn-sm" href="#" id="timelinePlayButton">
                                    <i class="fa fa-play-circle fa-lg"></i> Play</a>

                                <a class="btn btn-default btn-sm" href="#" id="timelinePauseButton">
                                    <i class="fa fa-pause-circle fa-lg"></i> Pause</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <p id="progress"></p>
                            </div>
                            
                            <div class="well" id="info-content">        
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#info-sensor-list">Sensors</a></li>
                                    <li><a data-toggle="tab" href="#info-sensor-info">Sensor info</a></li>
                                    <li><a data-toggle="tab" href="#info-info">Info</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="info-sensor-list" class="tab-pane fade in active">
                                        <div class="table-responsive">
                                            <table class="table" id="sensor-table">
                                                <thead>
                                                    <tr>
                                                        <th>Location</th>
                                                        <th>PM 2.5</th>
                                                        <th>PM 10</th>
                                                        <th>Last update</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="info-sensor-info" class="tab-pane fade">
                                        <h3>Sensor</h3>
                                    </div>
                                    <div id="info-info" class="tab-pane fade">
                                        <h3>Info</h3>
                                        <p>PM<sub>10</sub> is particulate matter 10 micrometers or less in diameter, PM<sub>2.5</sub> is particulate matter 2.5 micrometers or less in diameter. PM<sub>2.5</sub> is generally described as fine particles. By way of comparison, a human hair is about 100 micrometres, so roughly 40 fine particles could be placed on its width.</p>
                                        <p>Sources of fine particles include all types of combustion activities (motor vehicles, power plants, wood burning, etc.) and certain industrial processes.</p>
                                        <p><a href="http://www.npi.gov.au/resource/particulate-matter-pm10-and-pm25" data-toggle="tooltip" data-placement="top" title="http://www.npi.gov.au/resource/particulate-matter-pm10-and-pm25">[1]</a> <a href="https://www.epa.gov/pm-pollution/particulate-matter-pm-basics#PM" data-toggle="tooltip" data-placement="top" title="https://www.epa.gov/pm-pollution/particulate-matter-pm-basics#PM">[2]</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="sensor-chart-all" class="well">
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="container-fluid text-center">
            <p>Friskby Bergen project. <a href="https://www.facebook.com/friskbybergen/">Visit us on Facebook</a></p>
        </footer>

        <!-- The scripts are placed at the end to make the document load faster -->
        <script src="{{ STATIC_URL }}js/include/proj4.js" type="text/javascript"></script>

        <script src="http://openlayers.org/en/master/build/ol.js" type="text/javascript"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        
        
        
        <!-- Bootstrap 3 does not support jQuery 3. Maybe Bootstrap 4 does?
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
        -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        <script src="{{ STATIC_URL }}js/friskby.js"></script>
        
        <script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
 
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>
        
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                
        <script>
            var fb;
            $(document).ready(function () {
                fb = Friskby;
                fb.load( true );
            });
        </script>
    
    </body>
</html>
