<html>
<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
   //Width and height
   var w = 600;
   var h = 400;
   var padding = 75;
   var framepadding = 5;


function getDate(d) {
  return new Date(d);
}

function getLimits(data) {
   var size = data.length;
   var xmin = getDate(data[0][0]);
   var xmax = getDate(data[size - 1][0]);
   var ymin = 100000000000;
   var ymax = -100000000000;

   for (var index = 0; index < data.length; index++) {
       var y = data[index][1];

       if (y > ymax)
          ymax = y;

       if (y < ymin)
          ymin = y;			      
   }
   return [xmin , xmax , ymin , ymax];
}

function plot_data( result ) {


   var limits = getLimits( result );
   var xmin = limits[0];
   var xmax = limits[1];
   var ymin = limits[2];
   var ymax = limits[3];

   var x = d3.time.scale().domain([ xmin , xmax ]).range( [padding , w-padding ])
   var y = d3.scale.linear().domain([ ymin , ymax]).range( [h-padding , padding])

   var svg = d3.select("#svg-frame");
   
   var plot_group = d3.select("#plot-group");
   var lines;

   d3.select("#title").html("Tittel");
   d3.select("#lines").remove();
   lines = plot_group.append("svg:g").attr("id","lines");

   var line = d3.svg.line().x( function(d) { return x(getDate(d[0])); })
                           .y( function(d) { return y(d[1]); });
   lines.append("svg:path").attr("d" , line( result )).attr("stroke" , "red" );

   var d = line(result);

   var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(4);
   var yAxis = d3.svg.axis().scale(y).orient("left").ticks(5);

   lines.append("svg:g").
       attr("class" , "axis").
       attr("transform" , "translate(0 ," + (h - padding) + ")").
       call(xAxis);

   lines.append("svg:g").
       attr("class" , "axis").
       attr("transform" , "translate(" + padding + ",0)").
       call(yAxis);

}


function init_sensor_selection( result ) {
    sensor_select = document.getElementById('id_sensor_id_select');
    for (var index=0; index < result.length; index++) {
        var sensor = result[index];
	var option = document.createElement("option");
	option.text = sensor.description;
        option.value = sensor.id;
	sensor_select.add(option, sensor_select[0]);
   }
   sensor_select_event( );
}


function fetch_sensor_selection( ev ) {
   var post = { type     : "GET", 
	        dataType : "json" ,
                url      : "/sensor/api/sensorinfo/",
                success  : init_sensor_selection };

   $.ajax( post );
   return false; 
}


function update_sensor_selection( result ) {
   var sensor_type = result.sensor_type;			      
   {   
       var location_text;   			      
       var location = result.parent_device.location;
       location_text = location.name + "(" + location.latitude.toString() + "," + location.longitude.toString() + "," + location.altitude.toString() + ")";
       $("#id_location").html( location_text );
   }
   {
       var range_text;
       range_text = sensor_type.min_value.toString() + " - " + sensor_type.max_value.toString();
       $("#id_range").html( range_text );
   }			      
   {
       var device_text;
       var parent_device = result.parent_device;
       var device_type = parent_device.device_type;
       device_text = parent_device.id + " : " + device_type.company.name + " / " + device_type.name;
       $("#id_device_type").html( device_text );
   }
   $("#id_sensor_id").html( result.id );
   $("#id_description").html( result.description );
   $("#id_data_type").html( result.data_type );			      


   $("#id_unit").html( sensor_type.unit );
   $("#id_measurement_type").html( sensor_type.measurement_type.name );
}



function sensor_select_event( ev ) {
   var sensor_id = document.getElementById('id_sensor_id_select').value;
   {
      var meta_post = { type 	   : "GET",
                        dataType   : "json",
                        url        : "/sensor/api/sensorinfo/" + sensor_id.toString() + "/", 
                        success    : update_sensor_selection };
      $.ajax( meta_post );
   }
   {
      var data_post = { type 	   : "GET",
                        dataType   : "json",
                        url        : "/sensor/api/reading/" + sensor_id.toString() + "/", 
                        success    : plot_data };
      $.ajax( data_post );
   }
   return false; 
}


function init_canvas() {
   var plot_div = d3.select("#plot");
   var title = plot_div.append("h2").attr("id" , "title");
   var vis = plot_div.append("svg:svg").attr("width",w).attr("height" , h).attr("id" , "svg-frame");
   var g = vis.append("svg:g").attr("id" , "plot-group")

   var frame = g.append("svg:rect");
   frame.attr("x" , framepadding ).
         attr("y" , framepadding ).
         attr("width" , ( w - 2*framepadding )).
         attr("height" , ( h - 2*framepadding ));
}





window.onload = function() {
   sensor_select = document.getElementById('id_sensor_id_select');
   sensor_select.onchange = sensor_select_event;
   fetch_sensor_selection( );
   sensor_select_event( );   
   init_canvas();			      
}


</script>


<style type="text/css">
path {
    stroke-width: 2;
    fill: none;
}
 
line {
    stroke: black;
}
 
text {
    font-family: Arial;
    font-size: 9pt;
}

rect {
   stroke: black;
   stroke-width: 2;
   fill: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

</style>

<title>
Main page for Friskby API
</title>
</head>
<body>
<div id="plot">
</div>

<h4> A simple javascript example </h4>
<div id="id_sensor_select_box" style="background-color:lightgray">
<label> Sensor: </sensor>
<select id="id_sensor_id_select" name="Sensor">
</select> <p>
<label> Sensor: </label> <span id="id_sensor_id"> </span><p>
<label> Description: </label> <span id="id_description"> </span><p>
<label> Data type: </label> <span id="id_data_type"> </span><p>
<label> Location: </label> <span id="id_location"> </span><p>
<label> Measurement type: </label> <span id="id_measurement_type"> </span><p>
<label> Measurement unit: </label> <span id="id_unit"> </span><p>
<label> Range: </label> <span id="id_range"> </span><p>
<label> Device type: </label> <span id="id_device_type"> </span><p>
</div>

<h3>This is the main page describing the friskby web API </h3>


<h4> How it works </h4> This webpage is a thin Django based frontent
which accepts posts, validates the post and the reposts the validated
content to the restdb.io storage server.

<h4> The api endpoints </h4>

The endpoints listed below are a pure serialization of the records
from the database, in particular related objects are only represented
with the primary key. 

Each device is created by a <a href="/sensor/api/company/"> Company </a> <p>
Each sensor is part of a <a href="/sensor/api/device/"> Device </a> <p>
Several types of devices: <a href="/sensor/api/device_type/"> DeviceTypes </a> <p>
There can be several <a href="/sensor/api/measurement_type/"> measurment types </a> <p>
Each sensor must have <a href="/sensor/api/location/"> location </a> <p>
These are the <a href="/sensor/api/sensor/"> sensors </a> <p>
These are the <a href="/sensor/api/sensortype/"> sensor types </a> <p>
These are the <a href="/sensor/api/data_types/"> data_types </a> TEST and RAWDATA are created by default <p>
Timestamps <a href="/sensor/api/timestamp/"> timestamp </a> <p>

<h4> The info endpoints </h4>
These are sensor INFO <a href="/sensor/api/sensorinfo/"> sensor info </a> <p>


<h4> How to add a new sensor </h4> This web application is a simple
database backed web application. <a href="/admin/">The Django admin</a>
site supports the basic CRUD operations.


<h4> How to post </h4>


<div style="background-color:lightgray">
<pre>
#!/usr/bin/env python
import requests
import json

url = "http://friskby.herokuapp.com/sensor/api/reading/"
headers = {"Content-Type" : "application/json"}

api_key1 = "VerySecretKey"
api_key2 = "AnotherSecretKey"

data = [{"sensorid" : "TEMP:XX" , "value" : 50, "timestamp" : "10-10-2015T12:12:00Z" , "key" : api_key1},
        {"sensorid" : "HUM:XX"  , "value" : 20, "timestamp" : "10-10-2015T12:12:00Z" , "key" : api_key2}]

for measurement in data:
    response = requests.post( url , data = json.dumps( measurement ) , headers = headers )

    if response.status_code == 201:
        print "Posted %s measurements" % response.text
    else:
        print "ERROR - posting failed"
        print "Status: %s" % response.status_code
        print "Msg: %s" % response.text


</pre>
</div>

<h4> About the code </h4>

The code for the web project is at GitHub - will move to the FriskbyBergen account: 
<a href="https://github.com/joakim-hove/friskby/"> friskby <a/>

The code is currently deployed on heroku. 


</body>
</html>
