<html>
<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>

function plot_data( result ) {
   
}


function init_sensor_selection( result ) {
    sensor_select = document.getElementById('id_sensor_id_select');
    for (var index=0; index < result.length; index++) {
        var sensor = result[index];
	var option = document.createElement("option");
	option.text = sensor.description;
        option.value = sensor.id;
	sensor_select.add(option, sensor_select[0]);
   }
   sensor_select_event( );
}


function fetch_sensor_selection( ev ) {
   var post = { type     : "GET", 
	        dataType : "json" ,
                url      : "/sensor/api/sensorinfo/",
                success  : init_sensor_selection };

   $.ajax( post );
   return false; 
}


function update_sensor_selection( result ) {
   {   
       var location_text;   			      
       var location = result.location;
       location_text = location.name + "(" + location.latitude.toString() + "," + location.longitude.toString() + "," + location.altitude.toString() + ")";
       $("#id_location").html( location_text );
   }
   {
       var range_text;
       range_text = result.min_value.toString() + " - " + result.max_value.toString();
       $("#id_range").html( range_text );
   }			      
   {
       var device_text;
       var device = result.parent_device;
       device_text = device.company.name + " / " + device.name;
       $("#id_device_type").html( device_text );
   }

   $("#id_measurement_type").html( result.measurement_type.name );
   $("#id_unit").html( result.unit );
   $("#id_sensor_id").html( result.id );
   $("#id_description").html( result.description );
}



function sensor_select_event( ev ) {
   var sensor_id = document.getElementById('id_sensor_id_select').value;
   {
      var meta_post = { type 	   : "GET",
                        dataType   : "json",
                        url        : "/sensor/api/sensorinfo/" + sensor_id.toString() + "/", 
                        success    : update_sensor_selection };
      $.ajax( meta_post );
   }
   {
      var data_post = { type 	   : "GET",
                        dataType   : "json",
                        url        : "/sensor/api/reading/" + sensor_id.toString() + "/", 
                        success    : plot_data };
      $.ajax( data_post );
   }
   return false; 
}



window.onload = function() {
   sensor_select = document.getElementById('id_sensor_id_select');
   sensor_select.onchange = sensor_select_event;
   fetch_sensor_selection( );
   sensor_select_event( );   
}


</script>
<title>
Main page for Friskby API
</title>
</head>
<body>




<svg id="visualisation" width="800" height="400"></svg>
<h4> A simple javascript example </h4>
<div id="id_sensor_select_box" style="background-color:lightgray">
<label> Sensor: </sensor>
<select id="id_sensor_id_select" name="SensorID">
</select> <p>
<label> SensorID: </label> <span id="id_sensor_id"> </span><p>
<label> Description: </label> <span id="id_description"> </span><p>
<label> Location: </label> <span id="id_location"> </span><p>
<label> Measurement type: </label> <span id="id_measurement_type"> </span><p>
<label> Measurement unit: </label> <span id="id_unit"> </span><p>
<label> Range: </label> <span id="id_range"> </span><p>
<label> Device type: </label> <span id="id_device_type"> </span><p>
</div>

<h3>This is the main page describing the friskby web API </h3>


<h4> How it works </h4> This webpage is a thin Django based frontent
which accepts posts, validates the post and the reposts the validated
content to the restdb.io storage server.

<h4> The api endpoints </h4>

Each device is created by a <a href="/sensor/api/company/"> Company </a> <p>
Each sensor is part of a <a href="/sensor/api/device/"> Device </a> <p>
There can be several <a href="/sensor/api/measurement_type/"> measurment types </a> <p>
Each sensor must have <a href="/sensor/api/location/"> location </a> <p>
These are the <a href="/sensor/api/sensorID/"> sensors </a> <p>

<h4> How to add a new sensor </h4> This web application is a simple
database backed web application. <a href="/admin/">The Django admin</a>
site supports the basic CRUD operations.


<h4> How to post </h4>


<div style="background-color:lightgray">
<pre>
#!/usr/bin/env python
import requests
import json

url = "http://friskby.herokuapp.com/sensor/api/reading/"
headers = {"Content-Type" : "application/json"}

data = [{"sensorid" : "TEMP:XX" , "value" : 50, "timestamp" : "10-10-2015 12:12:00"},
        {"sensorid" : "HUM:XX"  , "value" : 20, "timestamp" : "10-10-2015 12:12:00"}]

response = requests.post( url , data = json.dumps( data ) , headers = headers )

if response.status_code == 201:
    print "Posted %s measurements" % response.text
else:
    print "ERROR - posting failed"
    print "Status: %s" % response.status_code
    print "Msg: %s" % response.text


</pre>
</div>

<h4> About the code </h4>

The code for the web project is at GitHub - will move to the FriskbyBergen account: 
<a href="https://github.com/joakim-hove/friskby/"> friskby <a/>

The code is currently deployed on heroku. 


</body>
</html>
