{% extends "friskby/friskby_base.html" %}
{% block title %} Friskby {% endblock %}

{% block js %}
  <script src="{{ STATIC_URL }}js/include/highcharts.js"></script>
  <script src="{{ STATIC_URL }}js/include/exporting.js"></script>
  <script src="{{ STATIC_URL }}js/include/highcharts-more.js"></script>
  <script src="{{ STATIC_URL }}js/median/chart.js"></script>
  <script type="text/javascript">
    window.onload = function() {
        Highcharts.setOptions({
            global: {
                timezoneOffset: {{timezone_offset}}
            }
        });

        var values = {{meandata|safe}};
        var errors = {{stddata|safe}};
        var chart = createchart(); // from chart.js
        chart.showDataFor(values, errors);
    };
  </script>
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="row">
  <h1>{{start_time}}</h1>
  <a href="?start=2017-03-14T00:00:00Z">03.14</a><br />
  <a href="?start=2017-03-14T00:00:00Z&amp;end=2017-03-15T00:00:00Z">03.14&nbsp;&ndash;&nbsp;03.15</a><br />
  <a href="?start=2017-03-01T00:00:00Z&amp;delta=1440">March daily</a><br />
  <a href="?sensortype=PM25">PM 25</a>
  <div class="col-12 col-m-12">
    <div id="chart">
    </div>
  </div>
</div>
{% endblock %}
