{% extends "friskby/friskby_base.html" %}
{% block title %} Friskby {% endblock %}

{% block js %}
  <script src="{{ STATIC_URL }}js/include/highcharts.js"></script>
  <script src="{{ STATIC_URL }}js/include/exporting.js"></script>
  <script src="{{ STATIC_URL }}js/include/highcharts-more.js"></script>
  <script src="{{ STATIC_URL }}js/include/ol.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/quick/map.js"></script>
  <script src="{{ STATIC_URL }}js/quick/chart.js"></script>
  <script type="text/javascript">
    var values = {{device_json|safe}};
    window.onload = function() {
      Highcharts.setOptions({
        global: {
          timezoneOffset: {{timezone_offset}}
        }
      });

      var date = "{{date}}";
      var timestamp = "{{timestamp}}";
      var map = createmap(timestamp); // from map.js
      var chart = createchart(); // from chart.js
      chart.showDataFor(values, "datalist");
      map.showDataFor(values, "datalist", timestamp);
      map.onSelect(function(id) {
        chart.select(id);
      });
      document.getElementById("slider").oninput = function(e) {
        var val = this.value;
        var n = Math.floor((values[0]["datalist"].length - 1) * val);
        var date = values[0]["datalist"][n];
        chart.scrollTo(date.timestamp);
        var listname = document.getElementById("pmselect").value + "list";
        map.showDataFor(values, listname, date.timestamp);
      }
    };

  </script>
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="header">
  <h1>Friskby Bergen</h1>
  <div class="navbar">
    <ul>
      <li>
        <a href="?start={{previous_start}}&amp;time={{previous_end}}&amp;sensortype={{sensortype}}">Previous</a>
      </li>
      <li>
        <a href="?start={{current_start}}&amp;time={{current_end}}&amp;sensortype={{othersensor}}">View
          {{pretty_other}} data</a>
      </li>
      <li>
        <a href="?start={{next_start}}&amp;time={{next_end}}&amp;sensortype={{sensortype}}">Next</a>
      </li>
      <li>
        <a href="median">Trend</a>
      </li>
      </ul>
  </div>
</div>


<div class="row">
  <div class="col-6 col-m-7">
    <div id="sensorlist">
      <table class="pure-table">
        <tr><th>Location</th><th>{{pretty_sensor}}</th><th>Last update</th></tr>
          {% for d in device_rows %}
        <tr>
	  <td><a href="{% url 'view.device.info' pk=d.id %}">{{d.locname}}</a></td>
	  <td class="valuecol">{{d.last}}</td>
	  <td>{{d.time}}</td>
	</tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-6 col-m-5">
    <div id="map">
    </div>
    <input id="slider" type ="range" min ="0.0" max="1.0" value="1.0" step="0.01" />
  </div>
</div>
<div class="row">
  <div class="col-12 col-m-12">
    <div id="chart">
    </div>
  </div>
</div>
{% endblock %}
