{% extends "friskby/friskby_base.html" %}
{% block title %} Friskby device: {{ id }} {% endblock %}

{% block js %}
  <script src="{{ STATIC_URL }}js/include/highcharts.js"></script>
  <script src="{{ STATIC_URL }}js/include/highcharts-more.js"></script>
  <script src="{{ STATIC_URL }}js/device/chart.js"></script>

  <script type="text/javascript">
      window.onload = function() {
         var chart = createDeviceChart("chart", "Tittel");

         chart.addSeries( {
            name : "Plot1",
            data : [[Date.parse("2017-04-01T00:00:00Z"),0],
	   	    [Date.parse("2017-04-02T00:00:00Z"),100],
		    [Date.parse("2017-04-03T00:00:00Z"),0],
		    [Date.parse("2017-04-04T00:00:00Z"),20]]} );

         chart.addSeries( {
	    name : "Plot2",
	    data : [[Date.parse("2017-04-01T00:00:00Z"),100],
	   	    [Date.parse("2017-04-02T00:00:00Z"),00],
		    [Date.parse("2017-04-03T00:00:00Z"),0],
		    [Date.parse("2017-04-04T00:00:00Z"),100]]});

      };
  </script>

{% endblock %}

{% block body %}
<h3> Detailed view of device: {{ id }} </h3>
<table>
  <tr>
    <th> ID: </th> <td> {{ id }} </td>
  </tr>
  <tr>
    <th> Owner: </th> <td> {{ owner }} </td>
  </tr>
  <tr>
    <th> Location: </th> <td> {{ location }} </td>
  </tr>
  <tr>
    <th> Config: </th> <td> {{ client_config }} </td>
  </tr>
</table>	

<div id="chart" style="height: 400px; width: 80%;"></div>
{% endblock %}
