* {
    /* CSS RESET */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: arial, helvetica;
}

div.header {
    background: #333;
    padding: 0px;
    margin: 0px;
    color: #fff;
}

div.header h1 {
    font-size: 200%;
    padding: 10px 10px 10px 10px;
}

.navbar {
    border-radius: 0;
    padding: 10px;
}

.navbar li {
    display: inline;
    padding: 0 2em 0 0;
}

.navbar li a {
    color: #fff;
} 

#slider {
     width: 100%;
}

#sensorlist {
    width: 100%;
    margin: auto;
}

#map {
    height: 300px;
    width: 100%;
}

#chart {
    margin: 10px;
    height: 500px;
    width: 100%;
}

table .valuecol {
    text-align: right;
}


/* Making grids for responsive design */
[class*="col-"] {
    float: left;
    padding: 15px;
} 

.row  {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 850px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}


@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
